<!doctype html>
<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/bartmap.css" rel="stylesheet">
{% block head %}
    <!-- put extra CSS/JS here -->
{% endblock %}

<title>Work Near BART</title>

</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
 <a href="/"> <h3>Work Near BART</h3> </a>
<div class="container-fluid">

  {% if 'user_id' in session %}

    <form action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
    <a href="/savedjobs">Saved Jobs</a>
    
    {% else %}
    
    <a href="/login">Login</a> | <a href="/register">Register</a>
  
  {% endif %}
  {% block body %}

  {% endblock %}
</div>
</body>
</html>