{% extends 'base.html' %}


{% block head %}
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/static/bartmap.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ gmaps }}&callback=initMap">
  </script>

  <title>Work Near BART - Home</title>

{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div id="blurb" class="col-sm-6 col-sm-offset-3">

        <h4>Work Near BART in San Francisco</h4>

        <p>Need a job you can ride BART to? Make your job search easier. Find a job within walking distance (~15 mins) to a station.</p>

    </div>
  </div>

  <form action="/results/1">

    <div class="row">

      <!-- Dropdown to select a 'From' station, optional -->
      <div class="col-sm-3">
        <b>From</b>
          <select class="form-control" name="origin_station">
            <option value="None">Optional</option>   
          {% for station in all_stations %}
            <option value={{ station.station_code }}>{{ station.station_name }}</option>
          {% endfor %}
          </select>
      </div>

      <!-- Dropdown to select a 'To' station, optional -->
      <div class="col-sm-3">
        <b>To</b>
        <select class="form-control" name="station">
          <option value="all">All SF Stations</option>   
          {% for station in sf_stations %}
            <option value={{ station.station_code }}>{{ station.station_name }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- Filter by time posted, optional -->
      <div class="col-sm-3">
        <b>Posted</b>
        <select class="form-control" name="days">
          <option value="999">Anytime</option>
          <option value="1">since yesterday</option>
          <option value="3">within 3 days</option>
          <option value="7">within 7 days</option>
          <option value="15">within 15 days</option>
          <option value="30">within 30 days</option>
        </select>
      </div>

      <!-- Number of results to display per page -->
      <div class="col-sm-3">
        <b>Display</b>
        <select class="form-control" name="display">
          <option value="10">10 per page</option>
          <option value="25">25 per page</option>
        </select>
      </div>
    </div>

    <div class="row">

      <!-- Job title search box REQUIRED for results -->
      <div class="col-sm-6">
        <div class="input-group">
          <input class="form-control" type="text" name="title" placeholder="Job Title" autocomplete="off" required>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" id="search-icon"></button>
          </span>
        </div>
      </div>
    </div>

  </form>
</div>

<!-- Google Map displays BART Stations in SF -->
<div id="bartmap"></div>
{% endblock %}
  