{% extends 'base.html' %}


{% block head %}
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/static/bartmap.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ gmaps }}&callback=initMap">
  </script>

{% endblock %}
{% block body %}
<form action="/results/1">
<div class="row">
  Title: <input type="text" name="title" id="search-title">
</div>
<div class="row">
  Filter: <select name="station">
    <option value="all">all stations</option>   
    {% for station in stations %}
      <option value={{ station[0] }}>{{ station[1] }}</option>
    {% endfor %}
  </select>

  <select name="age">
    <option value="999">anytime</option>
    <option value="1">since yesterday</option>
    <option value="3">within 3 days</option>
    <option value="7">within 7 days</option>
    <option value="15">within 15 days</option>
    <option value="30">within 30 days</option>
  </select>

  <select name="display">
    <option value="10">10 per page</option>
    <option value="25">25 per page</option>
    <option value="50">50 per page</option>
    <option value="100">100 per page</option>
  </select>

  </div>
  <input type="submit">

</form>

<div id="bartmap"></div>
{% endblock %}
