{% extends 'base.html' %}


{% block head %}
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/static/bartmap.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ gmaps }}&callback=initMap">
  </script>

{% endblock %}
{% block body %}
<title>Work Near BART - Home</title>

<form action="/results/1">
<div class="row text-center">
  Origin: <select name="origin_station">
    <option value="None">optional</option>   
    {% for station in all_stations %}
      <option value={{ station.station_code }}>{{ station.station_name }}</option>
    {% endfor %}
  </select><br>

  Search Job Title: <input type="text" name="title" id="search-title">
  Destination: <select name="station">
    <option value="all">all SF stations</option>   
    {% for station in sf_stations %}
      <option value={{ station.station_code }}>{{ station.station_name }}</option>
    {% endfor %}
  </select>

  <select name="days">
    <option value="999">anytime</option>
    <option value="1">since yesterday</option>
    <option value="3">within 3 days</option>
    <option value="7">within 7 days</option>
    <option value="15">within 15 days</option>
    <option value="30">within 30 days</option>
  </select>

  <select name="display">
    <option value="10">10 per page</option>
    <option value="25">25 per page</option>
  </select>

  <input type="submit">

</form>
</div>
<div id="bartmap"></div>
{% endblock %}
  